<a href="https://colab.research.google.com/github/saumya-nauni/ML-Sem-V/blob/master/Lab/Experiment%205/Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **EXPERIMENT 5**


Aim: Regression and Classification using Linear models

Objectives:






>Perform regression on fuel consumption dataset

> Perform classification on iris dataset

> Select linear model for high accuracy on cross validation and test set for iris dataset

> Select linear model for high R2_score [~1] on cross validation and test set for fuel consumption dataset

> Perform grid search and random search

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import cross_val_score, KFold, GridSearchCV, RandomizedSearchCV
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, mean_squared_error, r2_score
from sklearn.pipeline import Pipeline
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from keras.optimizers import Adam
import warnings
warnings.filterwarnings('ignore')

In [2]:
!wget -O FuelConsumption.csv https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/FuelConsumptionCo2.csv

--2020-08-30 18:41:58--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/FuelConsumptionCo2.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 72629 (71K) [text/csv]
Saving to: ‘FuelConsumption.csv’

FuelConsumption.csv 100%[===================>]  70.93K  --.-KB/s    in 0.05s

2020-08-30 18:41:58 (1.33 MB/s) - ‘FuelConsumption.csv’ saved [72629/72629]

In [3]:
fuel = pd.read_csv('FuelConsumption.csv')
fuel.head()
fuel.columns

Index(['MODELYEAR', 'MAKE', 'MODEL', 'VEHICLECLASS', 'ENGINESIZE', 'CYLINDERS',
       'TRANSMISSION', 'FUELTYPE', 'FUELCONSUMPTION_CITY',
       'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB',
       'FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS'],
      dtype='object')

In [4]:
fuel.head()

   MODELYEAR   MAKE  ... FUELCONSUMPTION_COMB_MPG CO2EMISSIONS
0       2014  ACURA  ...                       33          196
1       2014  ACURA  ...                       29          221
2       2014  ACURA  ...                       48          136
3       2014  ACURA  ...                       25          255
4       2014  ACURA  ...                       27          244

[5 rows x 13 columns]

In [5]:
print(fuel.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MODELYEAR                 1067 non-null   int64
 1   MAKE                      1067 non-null   object
 2   MODEL                     1067 non-null   object
 3   VEHICLECLASS              1067 non-null   object
 4   ENGINESIZE                1067 non-null   float64
 5   CYLINDERS                 1067 non-null   int64
 6   TRANSMISSION              1067 non-null   object
 7   FUELTYPE                  1067 non-null   object
 8   FUELCONSUMPTION_CITY      1067 non-null   float64
 9   FUELCONSUMPTION_HWY       1067 non-null   float64
 10  FUELCONSUMPTION_COMB      1067 non-null   float64
 11  FUELCONSUMPTION_COMB_MPG  1067 non-null   int64
 12  CO2EMISSIONS              1067 non-null   int64
dtypes: float64(4), int64(4), object(5)
memory usage: 108.5+ KB
None

In [6]:
#fuel['CYLINDERS'] = fuel['CYLINDERS'].astype('object')
print(fuel.MODELYEAR.unique())
fuel.drop('MODELYEAR', axis = 1, inplace = True)
fuel.drop('MODEL', axis = 1, inplace = True)
fuel.drop('MAKE', axis = 1, inplace = True)
fuel.head()

[2014]

  VEHICLECLASS  ENGINESIZE  ...  FUELCONSUMPTION_COMB_MPG CO2EMISSIONS
0      COMPACT         2.0  ...                        33          196
1      COMPACT         2.4  ...                        29          221
2      COMPACT         1.5  ...                        48          136
3  SUV - SMALL         3.5  ...                        25          255
4  SUV - SMALL         3.5  ...                        27          244

[5 rows x 10 columns]

In [7]:
fuel = pd.get_dummies(fuel)
fuel.head()

   ENGINESIZE  CYLINDERS  ...  FUELTYPE_X  FUELTYPE_Z
0         2.0          4  ...           0           1
1         2.4          4  ...           0           1
2         1.5          4  ...           0           1
3         3.5          6  ...           0           1
4         3.5          6  ...           0           1

[5 rows x 49 columns]

In [8]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 49 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   ENGINESIZE                             1067 non-null   float64
 1   CYLINDERS                              1067 non-null   int64
 2   FUELCONSUMPTION_CITY                   1067 non-null   float64
 3   FUELCONSUMPTION_HWY                    1067 non-null   float64
 4   FUELCONSUMPTION_COMB                   1067 non-null   float64
 5   FUELCONSUMPTION_COMB_MPG               1067 non-null   int64
 6   CO2EMISSIONS                           1067 non-null   int64
 7   VEHICLECLASS_COMPACT                   1067 non-null   uint8
 8   VEHICLECLASS_FULL-SIZE                 1067 non-null   uint8
 9   VEHICLECLASS_MID-SIZE                  1067 non-null   uint8
 10  VEHICLECLASS_MINICOMPACT               1067 non-null   uint8
 11  VEHICLECLASS_MINIVAN                   1067 non-null   uint8
 12  VEHICLECLASS_PICKUP TRUCK - SMALL      1067 non-null   uint8
 13  VEHICLECLASS_PICKUP TRUCK - STANDARD   1067 non-null   uint8
 14  VEHICLECLASS_SPECIAL PURPOSE VEHICLE   1067 non-null   uint8
 15  VEHICLECLASS_STATION WAGON - MID-SIZE  1067 non-null   uint8
 16  VEHICLECLASS_STATION WAGON - SMALL     1067 non-null   uint8
 17  VEHICLECLASS_SUBCOMPACT                1067 non-null   uint8
 18  VEHICLECLASS_SUV - SMALL               1067 non-null   uint8
 19  VEHICLECLASS_SUV - STANDARD            1067 non-null   uint8
 20  VEHICLECLASS_TWO-SEATER                1067 non-null   uint8
 21  VEHICLECLASS_VAN - CARGO               1067 non-null   uint8
 22  VEHICLECLASS_VAN - PASSENGER           1067 non-null   uint8
 23  TRANSMISSION_A4                        1067 non-null   uint8
 24  TRANSMISSION_A5                        1067 non-null   uint8
 25  TRANSMISSION_A6                        1067 non-null   uint8
 26  TRANSMISSION_A7                        1067 non-null   uint8
 27  TRANSMISSION_A8                        1067 non-null   uint8
 28  TRANSMISSION_A9                        1067 non-null   uint8
 29  TRANSMISSION_AM5                       1067 non-null   uint8
 30  TRANSMISSION_AM6                       1067 non-null   uint8
 31  TRANSMISSION_AM7                       1067 non-null   uint8
 32  TRANSMISSION_AS4                       1067 non-null   uint8
 33  TRANSMISSION_AS5                       1067 non-null   uint8
 34  TRANSMISSION_AS6                       1067 non-null   uint8
 35  TRANSMISSION_AS7                       1067 non-null   uint8
 36  TRANSMISSION_AS8                       1067 non-null   uint8
 37  TRANSMISSION_AS9                       1067 non-null   uint8
 38  TRANSMISSION_AV                        1067 non-null   uint8
 39  TRANSMISSION_AV6                       1067 non-null   uint8
 40  TRANSMISSION_AV7                       1067 non-null   uint8
 41  TRANSMISSION_AV8                       1067 non-null   uint8
 42  TRANSMISSION_M5                        1067 non-null   uint8
 43  TRANSMISSION_M6                        1067 non-null   uint8
 44  TRANSMISSION_M7                        1067 non-null   uint8
 45  FUELTYPE_D                             1067 non-null   uint8
 46  FUELTYPE_E                             1067 non-null   uint8
 47  FUELTYPE_X                             1067 non-null   uint8
 48  FUELTYPE_Z                             1067 non-null   uint8
dtypes: float64(4), int64(3), uint8(42)
memory usage: 102.2 KB

In [9]:
fuel.head()

   ENGINESIZE  CYLINDERS  ...  FUELTYPE_X  FUELTYPE_Z
0         2.0          4  ...           0           1
1         2.4          4  ...           0           1
2         1.5          4  ...           0           1
3         3.5          6  ...           0           1
4         3.5          6  ...           0           1

[5 rows x 49 columns]

In [10]:
x = fuel.drop('CO2EMISSIONS', axis = 1)
y = fuel['CO2EMISSIONS']

x_train, x_test, y_train, y_test = train_test_split(x, y, train_size = 0.6)

In [11]:
linear = linear_model.LinearRegression()
ridge = linear_model.Ridge()
lasso= linear_model.Lasso()
elastic = linear_model.ElasticNet()
lasso_lars = linear_model.LassoLars()
bayes_ridge = linear_model.BayesianRidge()
logistics = linear_model.LogisticRegression()
sgd = linear_model.SGDClassifier()
passagg = linear_model.PassiveAggressiveClassifier()
ridgecv = linear_model.RidgeClassifierCV()
ridgeclass = linear_model.RidgeClassifier()

models_churn = [linear, ridge, lasso, elastic, lasso_lars, bayes_ridge, logistics, sgd, passagg, ridgecv, ridgeclass]

In [12]:
def get_cv_scores(model):
    scores = cross_val_score(model, x_train, y_train, cv=5, scoring='neg_root_mean_squared_error')
    print('CV Mean: ', np.mean(scores))
    print('STD: ', np.std(scores))
    print('\n')

In [13]:
for i in models_churn:
    print(i)
    get_cv_scores(i)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)
CV Mean:  -6.101417348677911
STD:  0.4648456324609708


Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)
CV Mean:  -6.193837999515528
STD:  0.4372386915859329


Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)
CV Mean:  -9.717062089601189
STD:  1.0598934934448234


ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False)
CV Mean:  -20.333731221781527
STD:  1.985517261904321


LassoLars(alpha=1.0, copy_X=True, eps=2.220446049250313e-16, fit_intercept=True,
          fit_path=True, max_iter=500, normalize=True, positive=False,
          precompute='auto', verbose=False)
CV Mean:  -32.51439147426301
STD:  1.9836958029487588


BayesianRidge(alpha_1=1e-06, alpha_2=1e-06, alpha_init=None,
              compute_score=False, copy_X=True, fit_intercept=True,
              lambda_1=1e-06, lambda_2=1e-06, lambda_init=None, n_iter=300,
              normalize=False, tol=0.001, verbose=False)
CV Mean:  -6.093240516350521
STD:  0.42998991599508296


LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)
CV Mean:  -20.819136664268736
STD:  2.1663877895015373


SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=None, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)
CV Mean:  -49.21686744499499
STD:  6.9695737962800015


PassiveAggressiveClassifier(C=1.0, average=False, class_weight=None,
                            early_stopping=False, fit_intercept=True,
                            loss='hinge', max_iter=1000, n_iter_no_change=5,
                            n_jobs=None, random_state=None, shuffle=True,
                            tol=0.001, validation_fraction=0.1, verbose=0,
                            warm_start=False)
CV Mean:  -57.5566063641855
STD:  9.240850276798241


RidgeClassifierCV(alphas=array([ 0.1,  1. , 10. ]), class_weight=None, cv=None,
                  fit_intercept=True, normalize=False, scoring=None,
                  store_cv_values=False)
CV Mean:  -43.90068736178398
STD:  4.21325576756272


RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=None, normalize=False, random_state=None,
                solver='auto', tol=0.001)
CV Mean:  -45.082810761627385
STD:  4.0763631255438595

In [14]:
alpha = [0.5, 1, 1.5, 0.01, 2.5, 0.0001, 10, 100, 0.35]
#solver = ['auto', 'svd']

param_grid = dict(alpha = alpha)#, solver = solver)

In [15]:
grids = GridSearchCV(estimator = lasso_lars, param_grid = param_grid, scoring = 'r2', cv = 10)
grid_result = grids.fit(x_train, y_train)

In [16]:
rnds = RandomizedSearchCV(estimator = ridge, param_distributions = param_grid, scoring='r2', cv = 10)
rnds_result = rnds.fit(x_train, y_train)

In [17]:
print(grid_result.best_params_)
print(rnds_result.best_params_)

{'alpha': 0.01}
{'alpha': 0.01}

In [18]:
print(grid_result.best_score_)
print(rnds_result.best_score_)

0.9910457247826846
0.9909172175677566

In [19]:
from sklearn.datasets import load_iris
iris = load_iris()
data1 = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])
data1

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                  5.1               3.5  ...               0.2     0.0
1                  4.9               3.0  ...               0.2     0.0
2                  4.7               3.2  ...               0.2     0.0
3                  4.6               3.1  ...               0.2     0.0
4                  5.0               3.6  ...               0.2     0.0
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3     2.0
146                6.3               2.5  ...               1.9     2.0
147                6.5               3.0  ...               2.0     2.0
148                6.2               3.4  ...               2.3     2.0
149                5.9               3.0  ...               1.8     2.0

[150 rows x 5 columns]

In [20]:
x_iris = data1.drop('target', axis = 1)
y_iris = data1['target']
x1_train, x1_test, y1_train, y1_test = train_test_split(x_iris, y_iris, train_size = 0.7)
print(x1_train.shape)
print(x1_test.shape)
print(y1_train.shape)
print(y1_test.shape)

(105, 4)
(45, 4)
(105,)
(45,)

In [21]:
def get_cv_scores1(model):
    scores = cross_val_score(model, x1_train, y1_train, cv=5, scoring='accuracy')
    print('CV Mean Score: ', np.mean(scores))
    print('STD: ', np.std(scores))
    print('\n')

models_log = [logistics, sgd, passagg, ridgecv, ridgeclass]

In [22]:
for i in models_log:
    print(i)
    get_cv_scores1(i)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)
CV Mean Score:  0.9619047619047618
STD:  0.03563483225498992


SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=None, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)
CV Mean Score:  0.780952380952381
STD:  0.14317425122259916


PassiveAggressiveClassifier(C=1.0, average=False, class_weight=None,
                            early_stopping=False, fit_intercept=True,
                            loss='hinge', max_iter=1000, n_iter_no_change=5,
                            n_jobs=None, random_state=None, shuffle=True,
                            tol=0.001, validation_fraction=0.1, verbose=0,
                            warm_start=False)
CV Mean Score:  0.8
STD:  0.0819269073051679


RidgeClassifierCV(alphas=array([ 0.1,  1. , 10. ]), class_weight=None, cv=None,
                  fit_intercept=True, normalize=False, scoring=None,
                  store_cv_values=False)
CV Mean Score:  0.838095238095238
STD:  0.04856209060564558


RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=None, normalize=False, random_state=None,
                solver='auto', tol=0.001)
CV Mean Score:  0.838095238095238
STD:  0.04856209060564558

In [23]:
grid_list = []
random_list = []
for i in models_log:
    grids = GridSearchCV(estimator = lasso_lars, param_grid = param_grid, scoring = 'r2', cv = 10)
    grid_result = grids.fit(x_train, y_train)
    grid_list.append(grid_result.best_score_)
    rnds = RandomizedSearchCV(estimator = ridge, param_distributions = param_grid, scoring='r2', cv = 10)
    rnds_result = rnds.fit(x_train, y_train)
    random_list.append(rnds_result.best_score_)

In [24]:
print(max(grid_list))
print(max(random_list))

0.9910457247826846
0.9909172175677566